<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeHub</title>


    <!-- Owl-Carousel -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheetscss/owl.theme.default.min.css">

    <!-- AOS Library -->
    <link rel="stylesheet" href="/stylesheets/aos.css"> 

    <!-- Custom Style -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/3a79f20888.js" crossorigin="anonymous"></script> 
    
</head>

<body>

    <%- include('../partials/navbar') %> 
     <%- body %> 

     <!-- Jquery Library -->
    <script src="/javascripts/jquery3.6.1.min.js"></script>

    <!-- Owl-Carousel -->
    <script src="/javascripts/owl.carousel.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>

    <!-- AOS Library -->
    <script src="/javascripts/aos.js"></script>

    <!-- Custom Javascript -->
    <script src="/javascripts/main.js"></script>

    

</body>
</html>